<div class="container">
  <div class="row text-center">
    <div class="col h3">About Group W</div>
  </div>
  <div class="row">
    Group W is an analysis, modeling and research company that partners with leaders in government, commercial, intergovernmental and non-governmental organizations. These decision-makers face tough problems. They need to understand complex issues and evaluate alternative approaches. They want workable, effective solutions that will have real impact on policies and actions.
  </div>
  <br>
  <div class="row">
    Group W is designed to help these people find the right answers to their complex questions. The right answer is analytically sound, not a pre-ordained conclusion or the product of an opaque process. The right answer is defensible and able to withstand intense, informed scrutiny. The right answer is actionable, enabling meaningful progress towards a worthy goal.
  </div>
  <br>
  <div class="row">
    Listen to our Corporate President describe our company in this radio interview
  </div>
</div>
